<!--
  Generated template for the TypesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="black">


      <button ion-button  menuToggle (click)="about()">
          <ion-icon name="arrow-round-back"  ></ion-icon>
        </button>
    <ion-title>    Types Of Racism</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

  <div id="content">









 <ion-list>



<!--
  <ion-card  *ngFor="let racism of racisms" (click)="showAlert(racism)">
      <img [src]="racism.avatar_url" >
      <div class="shade"></div>
      <div  text-center class="card-title">{{racism.name}}</div>

    </ion-card> -->

    <ion-list>
        <ion-item text-wrap *ngFor="let racism of racisms">

          <h2 text-center>{{racism.name}}</h2>

          <p>{{racism.description}}</p>


        </ion-item>


    </ion-list>











</ion-list>





</div>




</ion-content>
