<!--
  Generated template for the Report4Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="black">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>



    <form  [formGroup]="report" (ngSubmit)="formSubmit(report)">



        <ion-item>
            <ion-label>Type of Incident</ion-label>
            <ion-select formControlName="type">
                <ion-option value="something written/posted">Something written/posted </ion-option>
                <ion-option value="harassmentr">Harassment</ion-option>
                <ion-option value="graffiti">Graffiti</ion-option>
                <ion-option value="physical harm">Physical Harm</ion-option>
                <ion-option value="verbal abuse">Verbal Abuse</ion-option>
                <ion-option value="verbal abuse">Verbal Abuse</ion-option>
                <ion-option value="verbal abuse">Social Media</ion-option>
            </ion-select>
          </ion-item>


          <ion-item  *ngIf="report.controls.type.invalid && report.controls.type.dirty" no-lines>
            <p>Please provide type of incident</p>
          </ion-item>





          <ion-item>
              <ion-label floating >Nationality</ion-label>
              <ion-input type="text" formControlName="nationality"></ion-input>
              </ion-item>

              <ion-item  *ngIf="report.controls.nationality.invalid && report.controls.nationality.dirty" no-lines>
                <p>Please provide nationality</p>
              </ion-item>




        <ion-item>
            <ion-label>How did you find out about it?</ion-label>
            <ion-select formControlName="find">
                <ion-option value="i_saw_it">I saw it</ion-option>
                <ion-option value="i_heard_about_it">I heard about it</ion-option>
                <ion-option value="a_client/service_user">A client/service user</ion-option>
            </ion-select>
          </ion-item>

          <ion-item  *ngIf="report.controls.find.invalid && report.controls.find.dirty" no-lines>
            <p>Please provide the find out about field</p>
          </ion-item>




          <ion-item>
              <ion-label>Demographic Group</ion-label>
              <ion-select formControlName="racial">
                <ion-option value="african">African</ion-option>
                <ion-option value="coloured">Coloured</ion-option>
                <ion-option value="indian">Indian</ion-option>
                <ion-option value="white">White</ion-option>
                <ion-option value="other">Other</ion-option>
              </ion-select>
            </ion-item>


            <ion-item  *ngIf="report.controls.racial.invalid && report.controls.racial.dirty" no-lines>
              <p>Please provide demographic group</p>
            </ion-item>


            <ion-item>
                <ion-label>Religion</ion-label>
                <ion-select formControlName="religion">
                  <ion-option value="christian">Christian</ion-option>
                  <ion-option value="hindu">Hindu</ion-option>
                  <ion-option value="muslim">Muslim</ion-option>
                  <ion-option value="jewish">Jewish</ion-option>
                  <ion-option value="none">No religion</ion-option>
                  <ion-option value="other">Other</ion-option>
                  <ion-option value="prefer not to say">Prefer not to say</ion-option>
                </ion-select>
              </ion-item>


              <ion-item  *ngIf="report.controls.religion.invalid && report.controls.religion.dirty" no-lines>
                <p>Please provide religion</p>
              </ion-item>

              <ion-item>
                  <ion-label>Gender</ion-label>
                  <ion-select formControlName="gender">
                    <ion-option value="female">Female</ion-option>
                    <ion-option value="male">Male</ion-option>
                    <ion-option value="transgender">Transgender</ion-option>
                    <ion-option value="prefer not to say">Prefer not to say</ion-option>

                  </ion-select>
                </ion-item>


                <ion-item  *ngIf="report.controls.gender.invalid && report.controls.gender.dirty" no-lines>
                  <p>Please provide gender</p>
                </ion-item>




              <ion-item>
                  <ion-label>Age Group</ion-label>
                  <ion-select formControlName="age">
                    <ion-option value="under_18">Under 18</ion-option>
                    <ion-option value="18-24">18-24</ion-option>
                    <ion-option value="25-34">25-34</ion-option>
                    <ion-option value="45-54">45-54</ion-option>
                    <ion-option value="55-64">55-64</ion-option>
                    <ion-option value="65+">65 or Above</ion-option>
                  </ion-select>
                </ion-item>

                <ion-item  *ngIf="report.controls.age.invalid && report.controls.age.dirty" no-lines>
                  <p>Please provide age</p>
                </ion-item>



                <button ion-button block round type="submit" [disabled]="report.invalid" color="toolbar">Next</button>


    </form>

</ion-content>
